# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
warnings_are_errors: false
r_build_args: "--no-build-vignettes --no-tests"
r_check_args: "--no-codoc --no-examples --no-build-vignettes --no-tests"
cache: packages
before_install: 
  - sudo apt-get install texinfo texlive-latex-recommended
  - tlmgr install dvips
before_deploy: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github(document = FALSE, examples = FALSE)'
  skip_cleanup: true
